body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(255, 255, 255);

background: linear-gradient(90deg, hsla(239, 94%, 19%, 1) 0%, hsla(201, 100%, 36%, 1) 25%, hsla(190, 100%, 42%, 1) 50%, hsla(189, 75%, 75%, 1) 75%, hsla(190, 77%, 88%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(239, 94%, 19%, 1) 0%, hsla(201, 100%, 36%, 1) 25%, hsla(190, 100%, 42%, 1) 50%, hsla(189, 75%, 75%, 1) 75%, hsla(190, 77%, 88%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(239, 94%, 19%, 1) 0%, hsla(201, 100%, 36%, 1) 25%, hsla(190, 100%, 42%, 1) 50%, hsla(189, 75%, 75%, 1) 75%, hsla(190, 77%, 88%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#03045e", endColorstr="#0077b6", GradientType=1 );
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
 /*color personalizado*/
.btn-primary {
    background-color: #66bfbf;
}

.btn-secondary {
    font-family: 'Montserrat', sans-serif;
    background:0;
    color: white;
    text-shadow: 1px #fff;
}


/* {
    box-sizing: border-box;
}
.App {
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


/*nav{
    position: sticky;
    top:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #eaeaea;
    transition: top 500ms ease-in-out;

}*/

/*nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

.link {
    display:flex;
    margin: 0 -1em;
}
.link a{
    display: inline-block;
    margin: 0 1rem;

}

.logo{
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

label {
    margin: 10px;
}


table,
th, 
td {
    border: 1px solid black;
}*/